body{
	background-color: #666;
	.squaer{
		height: 100px;
		width: 100px;
		border: 1px solid #fff;
		box-sizing: border-box;

	}
	.s1{
			background-color: #9c9;
			margin-bottom: 20px;
		}
	.s2{
		background-color: #f9f;
	}
}

